body {
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
  font-size: 13px;
  font-family: Microsoft Yahei, SimHei, tahoma, arial, Hiragino Sans GB, SimSun, sans-serif;
  font-weight: 400;
  color: #424242;
  margin: 0;
  padding: 0;
}

.main {
  text-align: center;
  width: 500px;
  margin: 200px auto;
}

.ui-button {
  height: 28px;
  line-height: 28px;
  margin: 0 6px;
  padding: 0 15px;
  border: 1px solid #4898d5;
  background-color: #2e8ded;
  color: #fff;
  border-radius: 2px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  outline: 0;
}

.ui-button:hover {
  outline: 0;
  opacity: .8;
  -ms-filter: alpha(Opacity=80);
  filter: alpha(Opacity=80);
  text-decoration: none;
}

:root .ui-button:hover {
  filter: none\9;
}

.ui-button-white {
  border: 1px solid #dedede;
  background-color: #f1f1f1;
  color: #333;
}

label input {
  vertical-align: text-top;
}
